<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/8bf744625d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.typekit.net/xii6anr.css">
    <title>Product</title>
    <link rel="stylesheet" href="/styles/index.css">
    <script src="https://kit.fontawesome.com/586c1877f3.js" crossorigin="anonymous"></script>
</head>

<body>
    <header class="header section--nav">
        <a href="/" class="header__logo">SoloBebidas</a>

        <div class="header__menu-icon">
            <i class="fa-solid fa-bars"></i>
        </div>

        <div class="nav">
            <div class="nav__close">
                <i class="fa-solid fa-xmark"></i>
            </div>

            <nav class="nav__content">
                <ul class="nav__items">
                    <li class="nav__links"><a href="#">Vinos</a></li>
                    <li class="nav__links"><a href="#">Espumantes</a></li>
                    <li class="nav__links"><a href="#">Espirituosas</a></li>
                    <li class="nav__links"><a href="#">Whiskys</a></li>
                    <li class="nav__links"><a href="#">Colecciones</a></li>
                </ul>

                <div class="nav__icons">
                    <div class="nav__icons__item">
                        <a href="/productCart"><i class="fa-solid fa-cart-shopping"></i></a>
                    </div>
                    <div class="nav__icons__item">
                        <a href="/login"><i class="fa-solid fa-user"></i></a>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <!-- main -->
    <main class="main">
        <section class="main__banner-container">
            <div class="banner__img-container">
                <img src="/images/vodka.png" alt="">
                <img src="/images/whiskey.png" alt="">
            </div>
            <div class="banner__heading-container">
                <h1>Los mejores <br> productos a la <br> puerta de tu casa</h1>
            </div>
            <div class="banner__button-container">
                <button class="btn btn--main" type="submit">VER TODOS LOS PRODUCTOS</button>
            </div>
        </section>

        <!-- mas vendidos --------->
        <div class="mas-vendidos-container">
            <div class="mas-vendidos-heading">
                <h3>Los mas vendidos</h1>
            </div>
            <div class="card-container">
                <div class="card">
                    <div class="card__title">Catena Malbec</div>
                    <div class="card__image">
                        <img id="vino" src="/images/vino - copia.png" alt="">
                    </div>
                    <p class="card__price">$2400</p>
                    <a href="#" class="card__cta">Comprar</a>
                </div>
                 <div class="card">
                    <div class="card__title">Jack Daniels Honey</div>
                    <div class="card__image">
                        <img src="/images/whiskey.png" alt="">
                    </div>
                    <p class="card__price">$2400</p>
                    <a href="#" class="card__cta">Comprar</a>
                </div>
                <div class="card">
                    <div class="card__title">Absolut Vodka</div>
                    <div class="card__image">
                        <img src="/images/vodka.png" alt="">
                    </div>
                    <p class="card__price">$2400</p>
                    <a href="#" class="card__cta">Comprar</a>
                </div> 
            </div>

        </div>

        <!-- propaganda ----------- -->
             <div class="propaganda-container">
                <div class="propaganda__img-container">
                    <img src="/images/bar-img.jpg" alt="">
                </div>
                <div class="propaganda__text-box">
                    <h3>¿Te toca armar a vos la previa? ¿Compraste tu primer auto? Tenemos lo mejor para que celebres como se debe.</h3>
                    <p>Te acercamos los mejores produtos estes donde estes</p>
                </div>
            </div> 
         <!-- colecciones -----  -->
            <div class="colecciones-container">
                <div class="colecciones_heading">
                    <h3>Una coleccion para cada ocasion</h3>
                </div>   
                <div class="colecciones-container-main">
                    <div class="colecciones__promotion-container">
                        <div class="colecciones_img">
                            <img src="/images/previa-con-amigos.jpg" alt="">
                        </div>
                        <div class="colecciones_description">
                            <h3>Previa con amigos</h3>
                            <p>$1500.00</p>
                        </div>
                    </div>
                    <div class="colecciones__promotion-container">
                        <div class="colecciones_img">
                            <img src="/images/reunion-familiar.jpg" alt="">
                        </div>
                        <div class="colecciones_description">
                            <h3>Reunion Familiar</h3>
                            <p>$1500.00</p>
                        </div>
                    </div>
                    <div class="colecciones__promotion-container">
                        <div class="colecciones_img">
                            <img src="/images/brindis-trabajo.jpg" alt="">
                        </div>
                        <div class="colecciones_description">
                            <h3>Cena de trabajo</h3>
                            <p>$1500.00</p>
                        </div>
                    </div>
                    <div class="colecciones__promotion-container">
                        <div class="colecciones_img">
                            <img src="/images/bar-drink-cooler-alchohol.jpg" alt="">
                        </div>
                        <div class="colecciones_description">
                            <h3>Arma el tuyo</h3>
                            <p>$1500.00</p>
                        </div>
                    </div>
                </div>   
            </div>
            <!-- shipping ------>
            <div class="shipping-container">
                <div class="envios-container">
                    <i class="fa-solid fa-truck"></i>
                    <p>Envios gratis en compras mayores a $5000.00</p>
                </div>
                <div class="pagos-container">
                    <i class="fa-solid fa-credit-card"></i>
                    <p>Aceptamos todos los medios de pago</p>
                </div>
            </div>
    </main>

    <!-- footer -->
    <footer class="footer">
        <a href="/" class="footer__logo">SoloBebidas</a>

        <div class="footer__groups-container">
            <div class="footer__group">
                <p class="footer__group__title">Comprar</p>
                <ul class="footer__links">
                    <li class="footer__links-solo"><a href="#">Vinos</a></li>
                    <li class="footer__links-solo"><a href="#">Espumantes</a></li>
                    <li class="footer__links-solo"><a href="#">Espirituosas</a></li>
                    <li class="footer__links-solo"><a href="#">Whiskys</a></li>
                </ul>
            </div>

            <div class="footer__group">
                <p class="footer__group__title">Información</p>
                <ul class="footer__links">
                    <li class="footer__links-solo"><a href="#">Mi cuenta</a></li>
                    <li class="footer__links-solo"><a href="#">Registrarme</a></li>
                    <li class="footer__links-solo"><a href="#">Política de envíos</a></li>
                    <li class="footer__links-solo"><a href="#">Política de privacidad</a></li>
                </ul>
            </div>

            <div class="footer__group footer__group--last">
                <p class="footer__group__title">Nuestras redes</p>
                <ul class="footer__links">
                    <li class="footer__links-solo"><a href="#">Instagram</a></li>
                    <li class="footer__links-solo"><a href="#">Facebook</a></li>
                </ul>
            </div>
        </div>
    </footer>

    <script src="/javascripts/utilities.js"></script>
</body>

</html>