<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/8bf744625d.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://use.typekit.net/xii6anr.css">
        <title>Product</title>
        <link rel="stylesheet" href="/styles/register.css">
    </head>
<body>
    <header class="header section--nav">
        <a href="/" class="header__logo">SoloBebidas</a>

        <div class="header__menu-icon">
            <i class="fa-solid fa-bars"></i>
        </div>

        <div class="nav">
            <div class="nav__close">
                <i class="fa-solid fa-xmark"></i>
            </div>

            <nav class="nav__content">
                <ul class="nav__items">
                    <li class="nav__links"><a href="#">Vinos</a></li>
                    <li class="nav__links"><a href="#">Espumantes</a></li>
                    <li class="nav__links"><a href="#">Espirituosas</a></li>
                    <li class="nav__links"><a href="#">Whiskys</a></li>
                    <li class="nav__links"><a href="#">Colecciones</a></li>
                </ul>

                <div class="nav__icons">
                    <div class="nav__icons__item">
                        <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
                    </div>
                    <div class="nav__icons__item">
                        <a href="#"><i class="fa-solid fa-user"></i></a>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <main class="main">
        <div class="main__form-container">
            <div class="form__heading">
                <h1>Entra a tu cuenta</h1>
            </div>
            <div class="form__inputs-container">
                <form class="form-inputs" action="">
                    <div class="email input">
                        <label for="">Correo electronico</label>
                        <input placeholder="juanperez@gmail.com" type="email">
                    </div>
                    <div class="password input">
                        <label for="">Contraseña</label>
                        <input placeholder="**********" type="password">
                    </div>
                    <div class="create-account-button input">
                        <button type="submit">INGRESAR</button>
                    </div>
                </form>
            </div>
            <div class="alternative-login">
                <a href="/register">¿Aun no tienes cuenta? Registrarme</a>
            </div>
        </div>
    </main>
    <footer class="footer">
        <a href="/" class="footer__logo">SoloBebidas</a>

        <div class="footer__groups-container">
            <div class="footer__group">
                <p class="footer__group__title">Comprar</p>
                <ul class="footer__links">
                    <li class="footer__links-solo"><a href="#">Vinos</a></li>
                    <li class="footer__links-solo"><a href="#">Espumantes</a></li>
                    <li class="footer__links-solo"><a href="#">Espirituosas</a></li>
                    <li class="footer__links-solo"><a href="#">Whiskys</a></li>
                </ul>
            </div>

            <div class="footer__group">
                <p class="footer__group__title">Información</p>
                <ul class="footer__links">
                    <li class="footer__links-solo"><a href="#">Mi cuenta</a></li>
                    <li class="footer__links-solo"><a href="#">Registrarme</a></li>
                    <li class="footer__links-solo"><a href="#">Política de envíos</a></li>
                    <li class="footer__links-solo"><a href="#">Política de privacidad</a></li>
                </ul>
            </div>

            <div class="footer__group footer__group--last">
                <p class="footer__group__title">Nuestras redes</p>
                <ul class="footer__links">
                    <li class="footer__links-solo"><a href="#">Instagram</a></li>
                    <li class="footer__links-solo"><a href="#">Facebook</a></li>
                </ul>
            </div>
        </div>
    </footer>
    <script src="/javascripts/utilities.js"></script>
</body>
</html>