<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/8bf744625d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.typekit.net/xii6anr.css">
    <title>Product</title>
    <link rel="stylesheet" href="/styles/productDetail.css">
</head>

<body>
    <header class="header section--nav">
        <a href="/" class="header__logo">SoloBebidas</a>

        <div class="header__menu-icon">
            <i class="fa-solid fa-bars"></i>
        </div>

        <div class="nav">
            <div class="nav__close">
                <i class="fa-solid fa-xmark"></i>
            </div>

            <nav class="nav__content">
                <ul class="nav__items">
                    <li class="nav__links"><a href="#">Vinos</a></li>
                    <li class="nav__links"><a href="#">Espumantes</a></li>
                    <li class="nav__links"><a href="#">Espirituosas</a></li>
                    <li class="nav__links"><a href="#">Whiskys</a></li>
                    <li class="nav__links"><a href="#">Colecciones</a></li>
                </ul>

                <div class="nav__icons">
                    <div class="nav__icons__item">
                        <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
                    </div>
                    <div class="nav__icons__item">
                        <a href="#"><i class="fa-solid fa-user"></i></a>
                    </div>
                </div>
            </nav>
        </div>
    </header>


    <script src="/javascripts/utilities.js"></script>
</body>

</html>