<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/8bf744625d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.typekit.net/xii6anr.css">
    <title>Cart</title>
    <link rel="stylesheet" href="/styles/productCart.css">
</head>

<body>
    <header class="header section--nav">
        <a href="/" class="header__logo">SoloBebidas</a>

        <div class="header__menu-icon">
            <i class="fa-solid fa-bars"></i>
        </div>

        <div class="nav">
            <div class="nav__close">
                <i class="fa-solid fa-xmark"></i>
            </div>

            <nav class="nav__content">
                <ul class="nav__items">
                    <li class="nav__links"><a href="#">Vinos</a></li>
                    <li class="nav__links"><a href="#">Espumantes</a></li>
                    <li class="nav__links"><a href="#">Espirituosas</a></li>
                    <li class="nav__links"><a href="#">Whiskys</a></li>
                    <li class="nav__links"><a href="#">Colecciones</a></li>
                </ul>

                <div class="nav__icons">
                    <div class="nav__icons__item">
                        <a href="/productCart"><i class="fa-solid fa-cart-shopping"></i></a>
                    </div>
                    <div class="nav__icons__item">
                        <a href="#"><i class="fa-solid fa-user"></i></a>
                    </div>
                </div>
            </nav>
        </div>
    </header>

    <main class="section--header">
        <h1 class="cart__title">Mi carrito</h1>

        <div class="cart__container">
            <div class="cart-item">
                <div class="cart-item__icon">
                    <i class="fa-solid fa-xmark"></i>
                </div>
                <div class="cart-item__image">
                    <img src="/images/jw-blue.png" alt="" srcset="">
                </div>
                <div class="cart-item__info">
                    <p class="cart-item__title">Johnnie Walker Blue Label - 750ml</p>
                    <p class="cart-item__price">$17000.00</p>
                    <form action="#" method="get" class="cart-item__options">
                        <p class="cart-item__single-price">Precio unitario: $17000.00</p>
                        <select name="options" id="cart-item__options" class="cart-item__select">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                        </select>
                    </form>
                </div>
            </div>

            <div class="cart-item">
                <div class="cart-item__icon">
                    <i class="fa-solid fa-xmark"></i>
                </div>
                <div class="cart-item__image">
                    <img src="/images/jw-blue.png" alt="" srcset="">
                </div>
                <div class="cart-item__info">
                    <p class="cart-item__title">Johnnie Walker Blue Label - 750ml</p>
                    <p class="cart-item__price">$17000.00</p>
                    <form action="#" method="get" class="cart-item__options">
                        <p class="cart-item__single-price">Precio unitario: $17000.00</p>
                        <select name="options" id="cart-item__options" class="cart-item__select">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                        </select>
                    </form>
                </div>
            </div>

            <div class="cart-item">
                <div class="cart-item__icon">
                    <i class="fa-solid fa-xmark"></i>
                </div>
                <div class="cart-item__image">
                    <img src="/images/jw-blue.png" alt="" srcset="">
                </div>
                <div class="cart-item__info">
                    <p class="cart-item__title">Johnnie Walker Blue Label - 750ml</p>
                    <p class="cart-item__price">$17000.00</p>
                    <form action="#" method="get" class="cart-item__options">
                        <p class="cart-item__single-price">Precio unitario: $17000.00</p>
                        <select name="options" id="cart-item__options" class="cart-item__select">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                        </select>
                    </form>
                </div>
            </div>

        </div>
    </main>

    <section class="section--discount">
        <h3 class="discount__title">Código de promoción</h3>
    </section>

    <footer class="footer">
        <a href="/" class="footer__logo">SoloBebidas</a>

        <div class="footer__groups-container">
            <div class="footer__group">
                <p class="footer__group__title">Comprar</p>
                <ul class="footer__links">
                    <li class="footer__links-solo"><a href="#">Vinos</a></li>
                    <li class="footer__links-solo"><a href="#">Espumantes</a></li>
                    <li class="footer__links-solo"><a href="#">Espirituosas</a></li>
                    <li class="footer__links-solo"><a href="#">Whiskys</a></li>
                </ul>
            </div>

            <div class="footer__group">
                <p class="footer__group__title">Información</p>
                <ul class="footer__links">
                    <li class="footer__links-solo"><a href="#">Mi cuenta</a></li>
                    <li class="footer__links-solo"><a href="#">Registrarme</a></li>
                    <li class="footer__links-solo"><a href="#">Política de envíos</a></li>
                    <li class="footer__links-solo"><a href="#">Política de privacidad</a></li>
                </ul>
            </div>

            <div class="footer__group footer__group--last">
                <p class="footer__group__title">Nuestras redes</p>
                <ul class="footer__links">
                    <li class="footer__links-solo"><a href="#">Instagram</a></li>
                    <li class="footer__links-solo"><a href="#">Facebook</a></li>
                </ul>
            </div>
        </div>
    </footer>

    <script src="/javascripts/utilities.js"></script>
</body>

</html>