.section--nav {
  padding: 2.5rem 1.25rem;
  background-color: var(--cream);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  font-size: var(--xsmall-heading);
  line-height: var(--lh-sx-heading);
  font-weight: var(--semibold);
}

.header__menu-icon {
  font-size: 1.4rem;
}

.nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: var(--orange);
  overflow-x: hidden;
  transition: 0.5s;
}

.nav__content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
}

.nav__close {
  position: absolute;
  top: 2.5rem;
  right: 1.25rem;
  font-size: var(--xsmall-heading);
}

.nav__links {
  font-size: var(--small-heading);
  font-weight: var(--medium);
  margin-bottom: 1.25rem;
}

.nav__icons {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.nav__icons__item {
  margin-top: 0.625rem;
  font-size: var(--xsmall-heading);
}

@media only screen and (min-width: 768px) {
  .section--nav {
    padding: 3.75rem;
  }

  .header__menu-icon {
    cursor: pointer;
  }

  .nav__close {
    top: 3.75rem;
    right: 3.75rem;
    cursor: pointer;
  }
}

@media only screen and (min-width: 1280px) {
  .section--nav {
    padding: 3.75rem 7.5rem;
    background-color: var(--cream);
  }

  .header__menu-icon {
    display: none;
  }

  .nav {
    height: auto;
    width: 100%;
    position: static;
    z-index: auto;
    background-color: inherit;
    overflow-x: auto;
    transition: none;
  }

  .nav__close {
    display: none;
  }

  .nav__content {
    position: static;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2.5rem;
  }

  .nav__items {
    display: flex;
    align-items: center;
    gap: 1.9rem;
  }

  .nav__links {
    font-size: var(--body);
    font-weight: var(--book);
    margin-bottom: 0px;
  }

  .nav__links a:hover {
    border-bottom: 2px solid var(--orange);
  }

  .nav__icons {
    display: flex;
    justify-content: center;
    gap: 1.9rem;
  }

  .nav__icons__item {
    margin-top: 0rem;
    font-size: var(--xsmall-heading);
  }
}
