@import url('./vars.css');

/* Buttons */

.btn {
  font-size: var(--buttons);
  font-weight: var(--regular);
  line-height: var(--lh-buttons);
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  border: none;
  border-radius: 5px;
  padding: 0.8rem 1.5rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.btn--main {
  background-color: var(--orange);
  color: var(--black);
  width: 100%;
}

.btn--form {
  background-color: var(--blue);
  color: var(--white);
}

.btn--secondary {
  background-color: transparent;
  border: 1px solid var(--black);
  color: var(--black);
  width: 100%;
}

/* Sections */

.section {
  padding: 6.25rem 1.25rem;
  background-color: var(--cream);
}

.section--header {
  padding: 0rem 1.25rem 5rem;
  background-color: var(--cream);
}

.section--discount {
  background-color: var(--cream);
  padding: 0rem 1.25rem 3.75rem;
}

.section--ticket {
  background-color: var(--light-grey-orange);
  padding: 1.875rem 1.25rem;
  margin-bottom: 1.875rem;
}

.section__title {
  font-size: var(--small-heading);
  line-height: var(--lh-sm-heading);
  font-weight: var(--semibold);
  color: var(--black);
  margin-bottom: 1.875rem;
}

/* Cards */

.card {
  background-color: var(--white);
  color: var(--black);
  box-shadow: var(--main-shadow);
  padding: 2.5rem 1.25rem;
  border-radius: 5px;
  text-align: center;
  /* flex: 1; */
}

.card__title {
  font-weight: var(--semibold);
  font-size: var(--xsmall-heading);
  line-height: var(--lh-sx-heading);
  margin-bottom: 1.9rem;
}

.card__image {
  margin-bottom: 1.9rem;
}

.card__image img {
  max-height: 18rem;
  width: auto;
  margin: 0 auto;
}

.card__price {
  font-weight: var(--semibold);
  font-size: var(--xsmall-heading);
  line-height: var(--lh-body);
  margin-bottom: 1.25rem;
}

.card__cta {
  display: block;
  font-weight: var(--regular);
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

@media only screen and (min-width: 768px) {
  .section {
    padding: 6.25rem 3.75rem;
  }

  .section--header {
    padding: 0 3.75rem 6.25rem;
  }

  .section--discount {
    background-color: var(--cream);
    padding: 0rem 3.75rem 3.75rem;
  }

  .section--ticket {
    background-color: var(--light-grey-orange);
    padding: 1.875rem 2.5rem;
    margin-bottom: 1.875rem;
  }

  .section__title {
    font-size: var(--med-heading);
    line-height: var(--lh-med-heading);
  }
}

@media only screen and (min-width: 1280px) {
  .section {
    padding: 12.5rem 7.5rem;
  }

  .section--header {
    padding: 5rem 7.5rem 6.25rem;
  }

  .section--discount {
    background-color: var(--cream);
    padding: 0rem 7.5rem 3.75rem;
    /* padding: 0; */
  }

  .section--ticket {
    background-color: var(--light-grey-orange);
    padding: 1.875rem 2.5rem;
    margin-bottom: 1.875rem;
  }
}
