@import url('./utilities/utilities.css');
@import url('./utilities/header.css');
@import url('./utilities/footer.css');



.main {
   background-color: var(--cream); 
   max-width: 100vw;
}

.main__banner-container {
    width: 100%;    
}

.banner__img-container {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner__img-container img {
    width: 50%;
    height: 80%;
}

.banner__heading-container {
    padding: 20px 20px;
    font-size: var(--small-heading);
    text-align: center;
}

.banner__button-container {
 padding-left: 20px;
 padding-right: 20px;
 padding-top: 20px;
 padding-bottom: 20px;
 display: flex;
 justify-content: center;
 align-items: center;
}

.btn--main {
    max-width: 340px;
}

.banner__heading-container h1 {
    font-size: 3rem;
}
.banner__heading-container {
    margin-top: 25px;
}
.banner__heading-container br {
    display: none;
}
/* mas vendidos */

.mas-vendidos-container {
    margin: auto;
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
}
.mas-vendidos-container div {
    margin-bottom: 20px;
}
.mas-vendidos-heading {
    margin-top: 40px;
    padding: 20px 20px;
    font-size: var(--small-heading);
    text-align: left;
    width: 100%;
}

.card {
    max-width: 300px;
    min-width: 300px;
    margin-right: 10px; 
    margin-left: 10px; 
    margin: auto;
}

.card-container {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: space-evenly;
    justify-content: center;
    flex-wrap: wrap;
}


/* propaganda -------- */

.propaganda-container {
    margin-bottom: 130px;
    margin-top: 25px;
    background-color: white;
    height: 80vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}
.propaganda__img-container {
    padding: 40px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.propaganda__img-container > img {  
    object-fit: cover;
    /* width: 85%;
    height: 100%;  */
    max-width: 600px;
     width: 230px;
    height: 230px;  
    border-radius: 7px;
}


.propaganda__text-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--orange);
    padding: 30px 30px;
    height: 60%;
    text-align: center;
}
.propaganda__text-box h3 {
    padding-top: 20px;
    font-weight: 400;
    padding-bottom: 20px;
    line-height: 1.3;
    font-size: 1.5rem;
}
.propaganda__text-box p {
    line-height: 1.2;
    font-size: 1.3rem;
    padding-bottom: 30px;

}

/* colecciones ----------*/

.colecciones-container { 
    padding-top: 90px;   
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}
.colecciones_heading {
    font-size: var(--small-heading);
    text-align: left;
    padding: 20px;
    margin-bottom: 25px;
}
.colecciones__promotion-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 35px;
    margin: 0px 12px;
}  

.colecciones_img > img {
    object-fit: cover;
    width: 300px;
    height: 300px;
    border-radius: 7px;
}


.colecciones_description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.colecciones_description h3 {
    padding-bottom: 10px;
}

.colecciones-container-main {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: space-between;
}
/* Envios ---------------- */

.shipping-container {
    padding-bottom: 75px;
    margin-top: 75px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.shipping-container div {
    padding: 25px;
}
.envios-container {
    width: 40%;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    padding-bottom: 55px;
}
.envios-container i {
    font-size: var(--large-heading);
    padding-bottom: 25px;
}
.envios-container p {
    font-size: var(--xsmall-heading);
    line-height: 1.3;
    font-weight: 700;
}

.pagos-container {
    padding-bottom: 55px; 
    width: 40%;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.pagos-container i {
    font-size: var(--large-heading);
    padding-bottom: 25px;
}
.pagos-container p {
    font-size: var(--xsmall-heading);
    line-height: 1.3;
    font-weight: 700;
}




@media only screen and (min-width: 768px) {
    .section {
      padding: 6.25rem 3.75rem;
    }
  
    .section--header {
      padding: 0 3.75rem 6.25rem;
    }
  
    .section__title {
      font-size: var(--med-heading);
      line-height: var(--lh-med-heading);
    }
    .propaganda-container {
        height: 35%;
        width: 100%;  
        margin-bottom: 20px;
        padding-top: 0px;   
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;  
    }
    .propaganda__text-box {
        border-radius: 5px;
        width: 70%;
        margin-bottom: 35px;
    }
    .shipping-container {
        flex-direction: row;
        justify-content: space-evenly;
    }
    .colecciones-container {
     padding-top: 70px;   
    }
    .banner__heading-container h1 {
        font-size: 4rem;
    }


  }
  
  @media only screen and (min-width: 1280px) {

    .section {
      padding: 12.5rem 7.5rem;
    }
  
    .section--header {
      padding: 5rem 7.5rem 6.25rem;
    }
    .banner__img-container {
        width: 100%;
        height: 40%;
        display: flex;
        justify-content: space-between;
        align-items: center;

    }
    .banner__img-container img {
        width: 30%;
        height: 50%;
    }

    .banner__heading-container {
        position: absolute;
        margin: auto;
        width: 80%;    
        top: 0vh; 
        margin-top: 16%;   
        left: 10.5vw;
    }
    .banner__heading-container h1 {
        font-size: 7rem;
        line-height: 1.2;
        font-weight: 500;
        letter-spacing: 2px;
    }
    .banner__heading-container br {
        display: block;
    }
    .propaganda-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .propaganda__img-container > img {
        width: 450px;
        height: 450px;
        margin-left: 150px;
    }
    .propaganda__text-box {
        position: relative;
        right: 100px;
        width: 40%;
    }
  }


